
h2, h3{
	text-align: center;
	font-weight: bold;
}

.row
 {
	padding-top: 10px;
}
.content {
	height: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: gray;
	font-weight: bold;
	color: black;
}

/** HEADER **/
#header-nav{
	background-color: gray;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 10px;
}
.navbar-brand h1 { 
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
#nav-list {
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}

